<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="p-3 d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cloud-haze2" viewBox="0 0 16 16">
            <path d="M8.5 3a4.002 4.002 0 0 0-3.8 2.745.5.5 0 1 1-.949-.313 5.002 5.002 0 0 1 9.654.595A3 3 0 0 1 13 12H4.5a.5.5 0 0 1 0-1H13a2 2 0 0 0 .001-4h-.026a.5.5 0 0 1-.5-.445A4 4 0 0 0 8.5 3zM0 7.5A.5.5 0 0 1 .5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm2 2a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-2 4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
          </svg>

          <span class="fs-4">Weather Forecast</span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Main</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Information</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Documentation</a>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-4 offset-2">
            <h2>Weather in your city</h2>
            <form action="" method="post">
              {% csrf_token %}
              <label for="city">City</label>
              {{ form.name }}
              <input type="submit" name="send" value="Show" class="mt-2 btn btn-danger" >
            </form>

            <div class="col-4">
              <iframe width="400" height="300" src="https://embed.windy.com/embed2.html?lat=41.521&lon=74.773&detailLat=41.521&detailLon=74.773&width=650&height=450&zoom=6&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
            </div>
            
            
          </div>

          <div class="col-4 offset-2">


            <h2>Information</h2>


            {% for info in all_info %}
            <div class="alert alert-info">
              <div class="row">
                <div class="col-9">
                  <b>City:</b> {{ info.city }} <br>
                  <b>Temperature:</b> {{ info.temp }}<sup>o</sup><br>
                  <b>Feels like:</b> {{info.feels_temp}}<sup>o</sup><br>
                  <b>Description:</b> {{info.description}} <br>
                </div>
                <div class="col-2 offset-pr-3">
                  <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="photo" class="img-rounded">
                </div>
              </div>
            </div>
            {% endfor %}
            

            


          </div>
        </div>
      </div>



     
</body>
</html>